<div class="container">

<% unless params.valid? %>
  <div class="content">
    <h5 class="title is-5">There was a problem with your submission</h3>
    <ol type="1">
      <% params.error_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<%=
  form_for :secret, routes.secrets_path do

    div class: 'field' do
      label :title, class: 'label'
      div class: 'control has-icons-left' do
        text_field :title, placeholder: 'Not necessary', class: 'input'
        span class: 'icon is-small is-left' do
          html.i('', class: 'fas fa-comment')
        end
      end
    end

    div class: 'field' do
      label :login, class: 'label'
      div class: 'control has-icons-left' do
        text_field :login, class: 'input'
        span class: 'icon is-small is-left' do
          html.i('', class: 'fas fa-lock')
        end
      end
    end

    div class: 'field' do
      label :secret, class: 'label'
      div class: 'control has-icons-left' do
        text_field :secret, class: 'input'
        span class: 'icon is-small is-left' do
          html.i('', class: 'fas fa-key')
        end
      end
    end

    div class: 'field' do
      div class: 'control' do
        submit 'Add', class: 'button is-link'
      end
    end
  end
%>

</div>
