<% unless current_user.nil? %>

  <section class="navigation">

    <div class="left">
      <%= link_to 'Secrets Manager', routes.secrets_path, class: 'button is-link is-outlined' %>
    </div>
    
    <%=
      form_for :session, routes.sessions_path, method: :delete do
        submit 'Sign out', class: 'button is-light'
      end
    %>
    
  </section>

<% end %>
