form {
    max-width: 400px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 10px 1px #d8d8d8;

    .left {
        margin-right: auto;
    }

    #session-form {
        margin: 0;
    }
}

.home {
    text-align: center;
}

#session-form {
    margin: 0 auto;
}