#secrets-list {
    .panel-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
    }

    .secret-item {
        .secret-item__title {
            font-weight: 600;
        }
        
        .icon {
            font-size: 16px;
            padding: 14px;
            opacity: 0.5;
        }
    }
}
